/* -------------- font google --------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* ----------- global ---------------- */




:root {
  --hero-bg: rgb(248 249 250);
  --tw-shadow: 0px 2px 10px rgba(3, 24, 52, 0.05),
    0px 1px 2px rgba(0, 0, 0, 0.04);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-gradient-to: #0898eb;
  --tw-gradient-from: #00489b;
  /* --tw-gradient-to: rgb(195 239 147 / 0); */
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}


body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #747e74;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #38424d;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #747e74;
  margin: 0;
}

span {
  display: contents;
  color: #fe5f59;
}

/* ------------ all button css ---------- */

.main-btn {
  display: inline-block;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 55px;
  border: 2px solid #0898ef;
  border-radius: 5px;
  background-color: #0898ef;
  color: #fff;
}

.main-btn:hover {
  background-color: rgba(8, 152, 231, 0.7);
  color: #fff;
  border-color: transparent;
}

/* ------------ all animation ---------- */

@keyframes video {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes bounceTop-1 {
  0%,
  100% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes animation-1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  78.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080);
  }
}

@keyframes spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(130deg);
  }
}

@keyframes spinner-right-spin {
  0% {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-130deg);
  }
}


.navbar-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 51%);
  -webkit-box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 51%);
  -moz-box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 51%);
  z-index: 100;
}



@media (min-width: 768px) {
  /* CSS styles for medium and larger screens */ 
  .logo-container {
      margin-left: 70px;

  }
}

.logo-container img {
  height: 40px;
  justify-content: center;
  width: 130px;
}

.link-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}


.nav-items {
  padding: 0 1rem;
}


.nav-links {
  all: unset;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-links:hover {
  font-weight: 600;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #029aff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/* nav bar css end */




/* ----------- home css ---------- */

.header-hero {
  width: 100%;
  margin-top: 0px;
  /* height: 800px; */
  /* border: 2px solid black; */
  background-position: bottom center;
  background-color: var(--hero-bg);
}

.hero-container {
  padding: 11rem 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

.hero-heading {
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 4rem;
}

.text {
  font-size: 1.4rem;
  color: rgb(74 85 104);
  line-height: 1.9rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero-btn {
  background-color: #0898ef;
  color: white;
  padding: 1.1rem 1.5rem;
  box-shadow: inset 7px 7px 10px 9px #0b78ba;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s;
}

.hero-btn:hover {
  scale: 1.1;
}

.yt-link-btn {
  text-align: center;
  height: 3rem;
  width: 3rem;
  color: white;
  background: #0898ef;
  padding: 12px;
  border-radius: 100%;
  position: relative;
}

.yt-link-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(8, 152, 231, 0.8);
  z-index: 9;
  animation: video 2s linear infinite;
}

.hero-img {
  width: 50%;
  position: relative;
}

.hero-img img {
  width: 43rem;
  height: 25rem;
  object-fit: cover;
  position: relative;
  z-index: 20;
  object-position: 21% 33%;
  border-radius: 20px;
}
.dotted {
  --tw-text-opacity: 1;
  color: rgb(208 237 216 / var(--tw-text-opacity));
  position: absolute;
  top: -49px;
  right: -48px;
}

.shape1 {
  position: absolute;
  height: 8rem;
  width: 8rem;
  top: -2rem;
  right: 31rem;
  border-radius: 16px;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  animation: animation-1 3s linear infinite;
}

.shape2 {
  position: absolute;
  bottom: 133px;
  right: -3rem;
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  z-index: 2;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  animation: animation-1 3s linear infinite;
}

/* responsive for mobile and tablet */
@media screen and (max-width: 1023px) {
  .navbar-container {
    position: fixed;
    z-index: 100;
    padding: 1rem 0;
    width: 100%;
    transition: all 0.7s ease;
  }

  .logo-container img {
    width: 100px;
  }
  .link-container {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .open {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    background-color: #0898e7;
    position: absolute;
    top: 102%;
  }







  /* hero section  */
  .hero-container {
    padding: 5rem 3rem;
    flex-direction: column;
    gap: 4rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .hero-heading {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.3rem;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }

  .hero-img {
    width: 100%;
    position: relative;
  }

  .hero-img img {
    width: 100%;
    height: 50%;
  }

  .dotted {
    display: none;
  }

  .shape1 {
    height: 7rem;
    width: 7rem;
    top: -11%;
    left: -10%;
  }

  .shape2 {
    bottom: -3rem;
    right: -2rem;
    height: 9rem;
    width: 9rem;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}












/* --------- about the bootcamp css ---------- */

/* Default styles for the feature container */
.feature-section .container {
  margin-bottom: 0;
  padding-top: 4rem; /* Set the default margin-bottom value */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .feature-section .container {
    margin-bottom: 20px; /* Adjust the margin-bottom value for smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .feature-section .container {
    margin-bottom: 60px; /* Adjust the margin-bottom value for larger screens */
  }
}


.feature-section .section-title h1 {
  font-weight: bold;
  color: #38424d;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.feature-section .section-title p {
  margin-bottom: 30px; 
  font-weight: 400;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: rgb(74 85 104);
  line-height: 1.9rem;
}


.feature-section .single-feature {
  padding: 30px;
  text-align: center;
  box-shadow: 0 15px 17px 0 rgb(154 154 154 / 16%);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .feature-section .single-feature {
    box-shadow: none;
  }
}

.feature-section .single-feature .icon {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  margin: 0 auto 30px;
  background-color: #487cff;
  color: #fff;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.feature-section .single-feature .icon.color-2 {
  background-color: #ffb260;
}

.feature-section .single-feature .icon.color-3 {
  background-color: #ff92a5;
}

.feature-section .single-feature .icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  top: -8px;
  right: -8px;
  z-index: -1;
  opacity: 0.2;
  transition: all 0.3s ease-out 0s;
}

.feature-section .single-feature:hover .icon::after {
  top: 8px;
  right: 8px;
}

.feature-section .single-feature .content h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.feature-section .single-feature .content p {
  /* font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: rgb(74 85 104);
  line-height: 1.9rem;
}


/* about the bootcamp end */




.title {
  font-size: 35px;
  font-weight: 600;
}

.text {
  justify-content: start;

  margin-top: 20px;
}

.about-content .main-btn {
  margin-top: 40px;
}







/* --------- faq css ---------- */

.faq-section .accordion-item {
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(142, 142, 142, 0.16);
}

.faq-section .accordion-item button {
  position: relative;
  padding: 18px 25px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  background-color: #fff;
  color: #1d2a5d;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/accordion.svg);
}

.accordion-button:focus {
  box-shadow: none;
}

/* faq css end */





/* ----------- footer css --------- */

.footer-area {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
}

.footer-area .footer-shape {
  position: absolute;
}

.footer-area .footer-shape.shape-1 {
  width: 75px;
  height: 75px;
  left: 70px;
  background-color: #fe5f59;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .footer-shape.shape-2 {
  width: 39px;
  height: 39px;
  left: 15%;
  bottom: 40px;
  background-color: #33c8c1;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .footer-shape.shape-3 {
  width: 20px;
  height: 20px;
  left: 35%;
  top: 40px;
  background-color: #361cc1;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .footer-shape.shape-4 {
  width: 15px;
  height: 15px;
  left: 50%;
  bottom: 5px;
  background-color: #eba31a;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .footer-shape.shape-5 {
  width: 39px;
  height: 39px;
  right: 37%;
  top: 0px;
  background-color: #e29e19;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .footer-shape.shape-6 {
  width: 15px;
  height: 15px;
  right: 15%;
  top: 125px;
  background-color: #b60d81;
  border-radius: 50%;
  opacity: 0.55;
  animation: animation-1 2s linear infinite;
}

.footer-area .logo {
  max-height: min-content;
  max-width: 200px;

}

.footer-about {
  max-width: 320px;
}

.footer-about .text {
  margin-top: 30px;
}

.footer-about .social {
  margin-top: 30px;
}

.footer-about .social li {
  display: inline-block;
  margin-right: 25px;
}

.footer-about .social li a {
  font-size: 20px;
  color: #747e88;
  transition: all 0.3s ease-out 0s;
}

.footer-about .social li a:hover {
  color: #0898e7;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .footer-link {
    padding-top: 30px;
  }
}

.footer-link .link {
  padding-top: 10px;
}

.footer-link .link li {
  margin-top: 10px;
}

.footer-link .link li a {
  text-decoration: none;
  font-size: 18px;
  color: #747e88;
  transition: all 0.3s ease-out 0s;
}

.footer-link .link li a:hover {
  color: #0898e7;
}

.footer-title .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .footer-contact {
    padding-top: 30px;
  }
}

.footer-contact .contact-list li .contact-info .info-content .text a {
  color: #747e88;
  transition: all 0.3s ease-out 0s;
}

.footer-contact .contact-list li .contact-info .info-content .text a:hover {
  color: #0898ef;
}

.footer-copyright .copyright {
  border-top: 2px solid #747e88;
  padding-top: 10px;
  padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
    color: #747e88;
}

.text_contact {
  font-size: 1.2rem;
  color: rgb(74 85 104);
  line-height: 1.9rem;
}




/* end of footer css */










/* bootcamp week  1, 2 */
#calen {
    width: 100px;
    height: 100px;
    position: relative;
}

#calen img {
    width: 100%;
    height: 100%;
}

.dates {
    width: 70px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    color: #4e4b4b;
}

.weekhead {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: -30px;
    padding-top: 5rem;
    @media (max-width: 767px) {
      margin-bottom: 0px; 
  }
}

.weekhead h1 {
    margin-left: 20px;
    color: #38424d;
    font-size: 30px;
    font-weight: bold;
}

.weekhead h1 span {
    color: #fe5f59;
}

.mainfield{
  @media (max-width: 767px) {
    margin: 0; 
    padding: 0; 
}
}

.fieldBeforeModule{

  @media (max-width: 767px) {
    margin: 0; 
    padding: 0; 
}
}


.sectionfield{

@media (max-width: 767px) {
  margin: 0; 
  padding: 0; 
}
}

.moduleBox {
  display: flex;
  flex-direction: column;
  margin: 5px; /* Default margin for medium and large screens */

  @media (max-width: 767px) {
      margin: 2px; 
      padding: 0; 
  }
 
}

.innerModule{
@media (max-width: 767px) {
  margin: 0; 
  padding: 0; 
}
}


.accordion-button{
  @media (max-width: 767px) {
    margin: 0; /* Margin of 2px for small screens */
    padding: 0; /* Padding of 0 for small screens */
}
}


.accordion-body a {
    text-decoration: none;

}


.day {
    font-size: 18px;
}


.greyclr {
    color: grey;
}


.mrtop {
    margin-top: 25px;
}


.assignment {
    background-color: #dbeafe;
    border-radius: 5px;
    width: fit-content;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 15px 10px 6px;
    display: flex;
    align-items: center;
}


.accordion a {
    color: #0d6efd;
}


.accordion a:hover {
    color: #0a58ca;
}

.accordion-body span {
    color: #0d6efd;
    cursor: pointer;
}

.accordion-body span:hover {
    color: #0a58ca;
}

#player {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
}

#player iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

